# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar
# composer lock is not needed in libraries https://getcomposer.org/doc/02-libraries.md#lock-file
composer.lock

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar

# Vagrant boxes
.vagrant

# phpcs cache
/.php_cs.cache

# composer auth config
auth.json

# roadrunner binary
/rr
/rr.exe

# temporary test files
tests/runtime/*
tests/_output/*
_generated
